# ==============================================================================
# ScholarAI - Frontend Environment Variables Template
# ==============================================================================

# The absolute endpoint representing the active API gateway backend.
VITE_API_URL=http://localhost:8000/api/v1

# Google OAuth 2.0 Client ID
VITE_GOOGLE_CLIENT_ID=950177095291-rcv6k6u1fiammaqpi9iolv01628j6gao.apps.googleusercontent.com
